
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'account/css/registration.css' %}" rel="stylesheet" >
    <title>Registration</title>
</head>
<body>
    <div class="center">
        <h1>Register for free</h1>
        {% load crispy_forms_tags %}
        <form method = 'post'>
            {% csrf_token %}
            {{ registration_form|crispy }}     
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </form>
    <form action={% url 'car:home' %} method="get" >
     <button class="cancle-button" type="submit">Cancle</button>
    </form>
        <div class=" form-link ">Already a member?
            <a href="{% url 'account:login' %}">  Log in here</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>