{% extends 'dashboard/dashboard_base.html'%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

{% load static %}
<link href="{% static 'account/css/registration.css' %}" rel="stylesheet" >

{% block content %}
{% load crispy_forms_tags %}
    <form method='POST' action={% url 'account:update_info' %}>
        <body>
                <div class="row mt-3">
                    <div class="col-md-13 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Update Settings</h4>
                            </div>
                        </div>
                    <div class="col-md-12">    
                    {% csrf_token %}
                    {{update_form|crispy }}
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update info</button></div>       
                    </div>
                </div>
                </div>    
        </body>
    </form>
    
{% endblock %}