@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.form-control{
    display: block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000205;
    background-color: rgb(245, 246, 241);
    background-clip: padding-box;
    border: 1px solid #2e20f0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    
}
.mb-3 {
    margin-bottom: 1rem!important;
    color: rgb(0, 7, 7);
    width: 100%;
    margin-left: 2rem;
    margin-top: 1rem;
}
.submit-button{
    width: 80%;
    height: 40px;
    color:rgb(246, 246, 246);
    background-color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border:none;
    box-shadow: inset 0 0 0 0 #44f09d;
    outline: none;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
   

}
.submit-button:hover{
    box-shadow: inset 80pc 0 0 0 #804df6;
    cursor: pointer;
    color: #f5f6f8;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(144, 116, 245);
    margin-top:2rem;
}

.center{
    margin-left: 30%;
    margin-top:10%;
    width: 30%;
    background:white;
    height: 60%;
    outline-offset: 5vh;
    border: solid rgb(82, 38, 240);
    border-radius: 2rem;

}
body{
    background-image: url("/static/account/images/bg.jpeg");
    background-size:auto;
    size:50pc;
}
.register-link{
    color:black;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
.logo{
    size:30px;
    width:10%;
    height:10%;
    padding-left: 3rem;
}
.messages{
    color:red;
}