{% extends 'base.html' %}
{% block content %}

<main>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../media/images/rentacar.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Contacts</h5>
          <p class="card-text">Follow us on Twitter and Instagram &#8594
            @RENTACAR
          </p>
          <p class="card-text">
            RENTACAR is a premium rental car service that offers oustanding performance vehicles with the customer in
            mind.
            All vehicles are certified clean and are available for pick up at our Dallas TX, location.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for vehicle in vehicle_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{vehicle.image.url}}" alt="..." />
            <div class="card-body">
              <h5 style="color:blue">{{vehicle.make}}</h5>
              <p class="card-text">{{vehicle.mod}}, {{vehicle.year}}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{vehicle.get_absolute_url}}" role="button" class="btn btn-primary btn-sm">RENT</a>
                </div>
                <h3 class="bold">${{vehicle.price}}</h3>
                <p class="text-muted">USD Per Day</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
{% endblock %}