{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row m-0">
    <div class="col-lg-7 pb-5 pe-lg-5">
      <div class="row">
        <div class="col-12 p-5">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{{vehicle.image.url}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{{vehicle.interiorImage.url}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{vehicle.secondaryImage.url}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="row m-0 bg-light">
          <div class="col-md-4 col-6 ps-30 pe-0 my-4">
            <p class="text-muted">Mileage</p>
            <p class="h5 m-0">{{vehicle.mile}}</p>
          </div>
          <div class="col-md-4 col-6  ps-30 my-4">
            <p class="text-muted">Transmission</p>
            <p class="h5 m-0">{{vehicle.trans}}</p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Vehicle type</p>
            <p class="h5 m-0">{{vehicle.body}}</p>
          </div>
          <!--
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Color</p>
            <p class="h5 m-0">White</p>
          </div>
        -->
        </div>
      </div>
    </div>
    <div class="col-lg-5 p-0 ps-lg-4">
      <div class="row m-0">

        <!--reservation-->
        <div class="col-12 px-0">
          <div class="row bg-light m-0">
            <div class="col-12 px-4 my-4">
              <p class="fw-bold">Reservation detail</p>
            </div>

            <div class="col-12 px-4">
              <div class="d-flex  mb-4">
                {% load crispy_forms_tags %}
                <form method='post' action='{{vehicle.get_absolute_url}}'>
                  <div class="d-flex justify-content-between mb-3">
                    <p class="textmuted ">Vehicle</p>
                    <div class="d-flex align-text-top ">
                      <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span>
                      <span class="fw-bold">{{vehicle.make}},{{vehicle.mod}}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <p class="textmuted ">Pick Up Location</p>
                    <div class="d-flex align-text-top ">
                      <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span>
                      <span class="fw-bold">Dallas, Texas</span>
                    </div>
                  </div>
                  {% csrf_token %}
                  {{ reservation_form| crispy }}
                  <div class="d-flex justify-content-between mb-3">
                    <p class="textmuted ">Rent per Day</p>
                    <div class="d-flex align-text-top ">
                      <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span>
                      <span class="fw-bold">${{vehicle.price}}</span>
                    </div>
                  </div>

                  <!--payment -->
                  <div class="col-12 px-0">
                    <div class="row bg-light m-0">
                      <div class="col-12 px-0 my-4">
                        <p class="fw-bold">Payment detail</p>
                      </div>
                      <div class="px-0 mb-3">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ payment_form| crispy }}
                      </div>
                      <div class="row m-0">
                        <div class="col-12  mb-4 p-0">

                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            RENT
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Rental Success &#x2705</h5>
                                </div>
                                <div class="modal-body">
                                  Thank you for using RentACar service.
                                  Your {{vehicle.make}} is ready for pick up.
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}