@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mb-3 {
    margin-bottom: 1rem!important;
    color: rgb(0, 7, 7);
    width: 75%;
    margin-left: 6rem;
    margin-right: 6rem;

    margin-top: 1rem;
}
.submit-button{
    width: 10rem;
    height: 40px;
    color:rgb(246, 246, 246);
    background-color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border:none;
    box-shadow: inset 0 0 0 0 #44f09d;
    outline: none;
    margin-top: 2rem;
    margin-left: 6rem;
    
   

}

.submit-button:hover{
    box-shadow: inset 10rem 0 0 0 #804df6;
    cursor: pointer;
    color: #f5f6f8;
}

.cancle-button{
    width: 10rem;
    height: 40px;
    color:rgb(246, 246, 246);
    background-color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border:none;
    box-shadow: inset 0 0 0 0 #44f09d;
    outline: none;
    margin-top: 1rem;
    margin-left: 6rem;
    margin-bottom: 2rem;
    
   

}
.cancle-button:hover{
    box-shadow: inset 10rem 0 0 0 #eb5c10;
    cursor: pointer;
    color: #f5f6f8;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(144, 116, 245);
    margin-top:2rem;
}

.center{
    align-content:center ;
    margin: 2rem 2rem;
    margin-top :2rem;
    width: auto;
    background:white;
    height: 60%;
    outline-offset: 5vh;
   

}
body{
    background-image:white;
    background-size:cover;
   
}
.form-link{
    color:black;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
.logo{
    size:30px;
    width:10%;
    height:10%;
    padding-left: 3rem;
}
.messages{
    color:red;
}
.myform{
    border: solid #2e20f0;
}